<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027884459156-mggo0l7nhn0rn6f1i7lvc5834udlq43d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027884459156-mggo0l7nhn0rn6f1i7lvc5834udlq43d</string>
	<key>API_KEY</key>
	<string>AIzaSyBu60sAfnfwbqdQ2Yv6CWBwQ4X2AtVJBzc</string>
	<key>GCM_SENDER_ID</key>
	<string>1027884459156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maccaronecaleb.UNITY</string>
	<key>PROJECT_ID</key>
	<string>unity-60255</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-60255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027884459156:ios:2d9fe95239463c86</string>
	<key>DATABASE_URL</key>
	<string>https://unity-60255.firebaseio.com</string>
</dict>
</plist>
